<div class="backgroundAlfa" ng-show="homeCtrl.isMovieSelected || homeCtrl.isLoadMovieSelected" ng-click="homeCtrl.closeMovieDetails()" ng-keyup="homeCtrl.isPressEsc()">
</div>

<section class="movieDetails movieDetails--loading" ng-show="homeCtrl.isLoadMovieSelected">
    <div class="load-spinner"></div>
</section>

<section class="movieDetails" ng-show="homeCtrl.isMovieSelected">

    <div class="movieDetails__header">
        <div class="movieDetails__header__title">
            <h2>{{homeCtrl.movieSelected.title}}</h2>
            <h3>{{homeCtrl.movieSelected.year}}</h3>
        </div>
        <img src="movieManager/src/img/close-movie-details.png" alt="close button" ng-click="homeCtrl.closeMovieDetails()">
    </div>

    <article class="dataMovie">
        <img src="{{homeCtrl.movieSelected.poster}}" alt="">
        <div class="dataMovie__details">

            <div class="dataMovie__details__block">
                <span class="dataMovie__sectionName">Sinopsis</span>
                <span class="dataMovie__timeMovie">{{homeCtrl.movieSelected.runtime.hours}}h{{homeCtrl.movieSelected.runtime.minutes}}</span>
            </div>

            <div class="dataMovie__details__block">
                <div>
                    <span class="dataMovie__tag" ng-repeat="genre in homeCtrl.movieSelected.genres track by genre.id">{{genre.name}}</span>
                </div>

                <div class="dataMovie__stadistics">
                    <div class="stadisticsIcons stadisticsIcons--fav">{{homeCtrl.movieSelected.ratings.imdb}}</div>
                    <div class="stadisticsIcons stadisticsIcons--rotenTomatoes">{{homeCtrl.movieSelected.ratings.rotten}}%</div>
                    <div class="stadisticsIcons">{{homeCtrl.movieSelected.ratings.metacritic}}%</div>
                </div>
            </div>

            <p class="dataMovie__paragraph">
                {{homeCtrl.movieSelected.overview}}
            </p>
            <div class="dataMovie__trailer-section">
                <span class="dataMovie__sectionName">Tráiler</span>
    

                <iframe class="dataMovie__video" width="610" height="370" ng-src="{{homeCtrl.movieSelected.video}}" frameborder="0" gesture="media"
                    allow="encrypted-media" allowfullscreen></iframe>

            </div>
        </div>

    </article>
    <div class="substitles">
        Subs:
        <span class="substitles__item">en</span>
        <span class="substitles__item">es</span>
        <span class="substitles__item">de</span>
    </div>

    <p>Películas similares</p>
    <div class="movieDetails__similar-movies">
        <img src="{{movie.poster}}" ng-repeat="movie in homeCtrl.similarMovies track by movie.id" ng-click="homeCtrl.getMovieDetails(movie.id)">
    </div>

</section>

<nav class="nav">
    <div class="wrapper">
        <img src="movieManager/src/img/logo.png" alt="peliseoi logo" class="nav__logo" ng-click="homeCtrl.getPopularMovies()">
        <ul class="nav__menu">
            <!-- TODO a> -->
            <li ng-click="homeCtrl.getDiscoverMovies()" ng-class="{'nav__li-selected':homeCtrl.view == 'discover'}">Descubrir</li>
            <li ng-click="homeCtrl.getTopRated()" ng-if="!homeCtrl.isUserSingIn" ng-class="{'nav__li-selected':homeCtrl.view == 'topRated'}">Mejor valoradas</li>
            <li ng-click="homeCtrl.getPopularMovies()" ng-if="!homeCtrl.isUserSingIn" ng-class="{'nav__li-selected':homeCtrl.view == 'popular'}">Populares ahora</li>
            <li ng-click="homeCtrl.getUpcomingMovies()" ng-class="{'nav__li-selected':homeCtrl.view == 'upcoming'}">Próximamente</li>
            <li ng-click="homeCtrl.showFav()" ng-if="homeCtrl.isUserSingIn" ng-class="{'nav__li-selected':homeCtrl.view == 'favourites'}">Favoritas</li>
            <li ng-click="homeCtrl.showViewMovies()" ng-if="homeCtrl.isUserSingIn" ng-class="{'nav__li-selected':homeCtrl.view == 'viewMovies'}">Vistas</li>
            <li ng-click="homeCtrl.showMoviesToWatch()" ng-if="homeCtrl.isUserSingIn" ng-class="{'nav__li-selected':homeCtrl.view == 'MoviesToWatch'}">Para más tarde</li>
        </ul>
        <input type="text" class="inputText inputText--search" placeholder="Encuentra tu película favorita" ng-model="homeCtrl.search.title"
            ng-keyup="homeCtrl.searchMovieByTitle()">
    </div>
</nav>

<div class="secondary-nav">
    <div>
        <button class="btn btn-large-selected">Películas</button>
        <!-- <button class="btn btn-large">Series</button> -->
    </div>
    <div>
        <button class="btn btn-sing" ng-click="homeCtrl.showSingIn()" ng-if="!homeCtrl.isUserSingIn">Entrar</button>
        <a href="#!/singup" class="btn btn-sing" ng-if="!homeCtrl.isUserSingIn">Registrate</a>
        <button class="btn btn-sing" ng-if="homeCtrl.isUserSingIn" ng-click="homeCtrl.singOut()">Salir</button>
        <!-- <button class="btn btn-sing"  ng-if="homeCtrl.isUserSingIn">Modify</button> -->
    </div>

</div>

<div class="singIn-nav" ng-if="!homeCtrl.isUserSingIn">
    <input class="inputText" type="text" placeholder="Email" ng-model="homeCtrl.currentUser.email">
    <input class="inputText" id="wrong--password" type="password" placeholder="Password" ng-model="homeCtrl.currentUser.password" ng-keyup="homeCtrl.singInWithEnter($event)">
    <button class="btn btn-sing" ng-click="homeCtrl.singIn()">Acceder</button>
</div>

<div class="wrapper">
    <div class="mainContainer">

        <aside class="dashboard">

            <div class="dashboard__navbar">
                <img src="movieManager/src/img/filter-icon.png" alt="filter icon">
                <button class="btn btn--filter-delete" ng-click="homeCtrl.deleteSearch()">Borrar</button>
            </div>

            <div class="dashboard__trackbars">
                <span class="dashboard__title">Año</span>
                <rzslider rz-slider-model="homeCtrl.sliderYear.minValue" rz-slider-high="homeCtrl.sliderYear.maxValue" rz-slider-options="homeCtrl.sliderYear.options"></rzslider>
                <span class="dashboard__title">Nota IMDB</span>
                <rzslider rz-slider-model="homeCtrl.sliderAverage.minValue" rz-slider-high="homeCtrl.sliderAverage.maxValue" rz-slider-options="homeCtrl.sliderAverage.options"></rzslider>
                <!-- <div class="trackbar">
                    <div class="trackbar__top">
                        <span class="dashboard__title">Año</span>
                        <span class="trackbar__data-filter">1979-2015</span>
                    </div>
                    <div class="trackbar__bottom">
                        <span class="trackbar__regulartor-left">5</span>
                        <span class="trackbar__regulartor-right">10</span>
                    </div>
                </div>
                <div class="trackbar">
                    <div class="trackbar__top">
                        <span class="dashboard__title">Valoración IMBD</span>
                        <span class="trackbar__data-filter">1979-2015</span>
                    </div>
                    <div class="trackbar__bottom">
                        <span class="trackbar__regulartor-left">5</span>
                        <span class="trackbar__regulartor-right">10</span>
                    </div>
                </div> -->
            </div>

            <div class="dashboard__genders">
                <span class="dashboard__title">Género</span>
                <button class="btn btn-gender" ng-class="{'btn-gender-selected': homeCtrl.checkButtonGenre(genre.id)}" ng-repeat="genre in homeCtrl.genres"
                    ng-click="homeCtrl.getFilteredMovies(genre.id)">{{genre.name}}</button>
            </div>
        </aside>

        <section class="filmShowcase">
            <div class="filmShowcase__navbar">
                <p ng-if="!homeCtrl.isViewOwnMovies">
                    <span class="bold-remark">{{homeCtrl.totalResults}}</span>
                    películas encontradas
                </p>

                <select class="select" ng-model="homeCtrl.search.sort_by" ng-change="homeCtrl.getFilteredMovies()" ng-if="!homeCtrl.isViewOwnMovies">
                    <option value="popularity" selected>Ordenar</option>
                    <option value="popularity">Popularity</option>
                    <option value="release_date">Release date</option>
                    <option value="primary_release_date">Primary release date</option>
                    <option value="original_title">Original title</option>
                    <option value="vote_average">Vote average</option>
                    <option value="vote_count">Vote count</option>
                </select>
            </div>
            <div class="filmShowcase__showcase">
                <div class="filmShowcase__showcase--not-movie" ng-if="homeCtrl.totalResults===0">No hay resultados.</div>
                <movie-card ng-repeat="movie in homeCtrl.movies track by $index" movie="movie" get-details="homeCtrl.getMovieDetails(movieId)"
                    movies="homeCtrl.movies" current-user="homeCtrl.currentUser"></movie-card>

                <div class="load-box" ng-if="!homeCtrl.isViewOwnMovies">
                    <p ng-show="homeCtrl.loadMovies">Cargando películas</p>
                    <div class="load-spinner" ng-show="homeCtrl.loadMovies"></div>
                </div>
            </div>
        </section>
    </div>
</div>