<div class="backgroundAlfa" ng-show="homeCtrl.movieSelected">
    <section class="movieDetails">

        <div class="movieDetails__header">
            <div class="movieDetails__header__title">
                <h2>{{homeCtrl.movieSelected.title}}</h2>
                <h3>{{homeCtrl.movieSelected.year}}</h3>
            </div>
            <img src="../src/img/close-movie-details.png" alt="close button" ng-click="homeCtrl.closeMovieDetails()">
        </div>

        <article class="dataMovie">
            <img src="{{homeCtrl.movieSelected.poster}}" alt="">
            <div class="dataMovie__details">

                <div class="dataMovie__details__block">
                    <span class="dataMovie__sectionName">Sinopsis</span>
                    <span class="dataMovie__timeMovie">{{homeCtrl.movieSelected.runtime.hours}}h{{homeCtrl.movieSelected.runtime.minutes}}</span>
                </div>

                <div class="dataMovie__details__block">
                    <div>
                        <span class="dataMovie__tag" ng-repeat="genre in homeCtrl.movieSelected.genres track by genre.id">{{genre.name}}</span>
                    </div>

                    <div class="dataMovie__stadistics">
                        <div class="stadisticsIcons stadisticsIcons--fav">{{homeCtrl.movieSelected.ratings.imdb}}</div>
                        <div class="stadisticsIcons stadisticsIcons--rotenTomatoes">{{homeCtrl.movieSelected.ratings.rotten}}%</div>
                        <div class="stadisticsIcons">{{homeCtrl.movieSelected.ratings.metacritic}}%</div>
                    </div>
                </div>

                <p class="dataMovie__paragraph">
                    With our time on Earth coming to an end, a team of explorers undertakes the most important mission in human history; traveling
                    beyond this galaxy to discover whether mankind has a future among the stars. (C) Paramount
                </p>
                <div class="dataMovie__trailer-section">
                    <span class="dataMovie__sectionName">Tráiler</span>

                    <iframe class="dataMovie__video" width="600" height="480" ng-src="{{homeCtrl.movieSelected.video}}" frameborder="0" gesture="media"
                        allow="encrypted-media" allowfullscreen></iframe>

                </div>
            </div>

        </article>
        <div class="substitles">
            Subs:
            <span class="substitles__item">en</span>
            <span class="substitles__item">es</span>
            <span class="substitles__item">de</span>
        </div>

        <p>Películas similares</p>
        <div class="movieDetails__similar-movies">
            <img src="{{movie.poster}}" ng-repeat="movie in homeCtrl.similarMovies track by movie.id" ng-click="homeCtrl.getMovieDetails(movie.id)">
        </div>

    </section>
</div>

<nav class="nav">
    <div class="wrapper">
        <img src="../src/img/logo.png" alt="peliseoi logo" class="nav__logo">
        <ul class="nav__menu">
            <!-- TODO a> -->
            <li ng-click="homeCtrl.getDiscoverMovies()">Descubrir</li>
            <li ng-click="homeCtrl.getTopRated()">Mejor valoradas</li>
            <li ng-click="homeCtrl.getPopularMovies()">Populares ahora</li>
            <li ng-click="homeCtrl.getUpcomingMovies()">Próximamente</li>
        </ul>
        <input type="text" class="inputText inputText--search" placeholder="Encuentra tu película favorita" ng-model="homeCtrl.search.title"
            ng-keyup="homeCtrl.searchMovieByTitle()">
    </div>
</nav>

<div class="wrapper">
    <div class="mainContainer">

        <aside class="dashboard">

            <div class="dashboard__navbar">
                <img src="../src/img/filter-icon.png" alt="filter icon">
                <button class="btn btn--filter">Filtrar</button>
                <button class="btn btn--filter-delete" ng-click="homeCtrl.deleteSearch()">Borrar</button>
            </div>

            <div class="dashboard__trackbars">
                <div class="trackbar">
                    <div class="trackbar__top">
                        <span class="dashboard__title">Año</span>
                        <span class="trackbar__data-filter">1979-2015</span>
                    </div>
                    <div class="trackbar__bottom">
                        <span class="trackbar__regulartor-left">5</span>
                        <span class="trackbar__regulartor-right">10</span>
                    </div>
                </div>
                <div class="trackbar">
                    <div class="trackbar__top">
                        <span class="dashboard__title">Valoración IMBD</span>
                        <span class="trackbar__data-filter">1979-2015</span>
                    </div>
                    <div class="trackbar__bottom">
                        <span class="trackbar__regulartor-left">5</span>
                        <span class="trackbar__regulartor-right">10</span>
                    </div>
                </div>
            </div>

            <div class="dashboard__genders">
                <span class="dashboard__title">Género</span>
                <button class="btn btn-gender" ng-class="{'btn-gender-selected': clicked}" ng-repeat="genre in homeCtrl.genres" ng-click="homeCtrl.search.genreIds = genre.id;clicked=true;">{{genre.name}}</button>
            </div>
        </aside>

        <section class="filmShowcase">
            <div class="filmShowcase__navbar">
                <p>
                    <span class="bold-remark">{{homeCtrl.totalResults}}</span>
                    películas encontradas
                </p>

                <select class="select" ng-model="homeCtrl.selectOrder">
                    <option value="">Ordenar</option>
                    <option value="name">Nombre</option>
                    <option value="year">Fecha</option>
                </select>
            </div>
            <div class="filmShowcase__showcase">
                <div class="movieCard" ng-repeat="movie in homeCtrl.movies | filter:homeCtrl.search | orderBy:homeCtrl.selectOrder track by movie.id"
                    style="background-image: url('{{movie.poster}}');" ng-click="homeCtrl.getMovieDetails(movie.id)">
                    <div class="movieCard__details">
                        <div class="movieCard__Title">
                            <h2>{{movie.title}}</h2>
                            <h3>+ more</h3>
                        </div>
                        <div class="movieCard__stadistics">
                            <div class="stadisticsIcons stadisticsIcons--fav">{{movie.ratings.imdb}}</div>
                            <div class="stadisticsIcons stadisticsIcons--rotenTomatoes">{{movie.ratings.rotten}}%</div>
                            <div class="stadisticsIcons">{{movie.ratings.metacritic}}%</div>
                        </div>
                    </div>

                </div>
                
                <!-- No carga en caliente -->
                <div class="load-box">
                    <p ng-show="homeCtrl.loadMovies">Cargando películas</p>
                    <div class="load-spinner" ng-show="homeCtrl.loadMovies"></div>
                </div>
            </div>
        </section>
    </div>
</div>